html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.hidden
{
    display: none !important;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 620px;
    min-height: 570px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 120px;
    width: 120px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.timer
{
    display:inline-block;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

ul li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


@media screen and (max-width:720px)
{
    .score-panel
    {
        text-align:center;
    }


    .container
    {
      margin:0 20px;   
    }
    .deck
    {
        width: 458px;
        min-height:525px;
        margin:20px;
        padding: 10px;

    }
    .deck .card
    {
        width:100px;
        height:115px;
    }
    

}

@media screen and (max-width: 480px)
{

    
    .deck
    {
        width: 440px;
        min-height:515px;
        margin:20px;
        padding: 10px;

    }
    .deck .card 
    {
    height: 100px;
    width: 100px;
    }
}

@media screen and (max-width:450px)
{
    ul.stars,.moves,.timer,.restart
    {
    width:100%;
    text-align:center;
    float: left;
    }
    .deck
    {
        width:355px;
        min-height: 380px;
    }
    .deck .card
    {
        width:76px;
        height:80px;
    }
}